@page "/invoices"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using InvoiceCreator.Models
@using InvoiceMasterModel = InvoiceCreator.Models.InvoiceMaster
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@inject InvoiceCreator.Services.IInvoiceMasterService InvoiceMasterService
@inject NavigationManager NavManager

<div class="d-flex justify-content-between py-2">
    <h2 class="fw-bold">Invoice list</h2>
    <SfButton CssClass="e-primary" @onclick="AddINewInvoice">+ Create new invoice</SfButton>
</div>

@if (invoices == null)
{
    <p>Loading...</p>
}
else if (!invoices.Any())
{
    <div>
        <p>No invoices found</p>
    </div>
}
else
{
    <div class="pb-5">
        <SfGrid DataSource="@invoices" AllowSorting="true">
            <GridColumns>
                <GridColumn Field="InvoiceMasterId" Visible="false" HeaderText="ID" />
                <GridColumn Field="CustomerName" HeaderText="Product Name" />
                <GridColumn Field="GrossAmount" HeaderText="Gross Amount" Format="N2" />
                <GridColumn Field="NetAmount" HeaderText="NetA Amount" Format="N2" />
                <GridColumn HeaderText="Status">
                    <Template Context="context">
                        @{
                            var invoice = context as InvoiceMasterModel;
                        }

                        @if (invoice?.Status == InvoiceMasterStatus.Completed)
                        {
                            <span class="badge bg-success">Completed</span>
                        }
                        else
                        {
                            <span class="badge bg-primary">@invoice?.Status</span>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field="CreatedAt" HeaderText="Creation date" />
                <GridColumn HeaderText="Actions" Width="120" AllowSorting="false" AllowFiltering="false"
                            TextAlign="TextAlign.Center">
                    <Template Context="d">
                        @{
                            var item = (InvoiceMasterModel)d;
                        }
                        <button class="btn btn-sm btn-primary" @onclick="()=> GoToDetails(item.InvoiceMasterId)">
                            Details
                        </button>

                        <button class="btn btn-sm btn-secondary" @onclick="() => GoToEdit(item.InvoiceMasterId)">
                            Edit
                        </button>
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>
}

@code {
    private List<InvoiceMasterModel> invoices = new List<InvoiceMasterModel>();

    protected override async Task OnInitializedAsync() => await LoadInvoicesAsync();

    private async Task LoadInvoicesAsync()
    {
        invoices = await InvoiceMasterService.GetAllInvoiceMastersAsync();
    }

    private void AddINewInvoice()
    {
        NavManager.NavigateTo($"/invoices/add");
    }

    void GoToEdit(int id)
    {
        NavManager.NavigateTo($"/invoices/edit/{id}");
    }


    void GoToDetails(int id)
    {
        NavManager.NavigateTo($"/invoices/{id}");
    }
}
